.container {
  display: grid;
  grid-template:
    "header header header header header header" auto
    "...... ...... ...... ...... ...... ......" 20px
    "...... left   ...... center ...... right  ......" auto
    "...... ...... ...... ...... ...... ...... ......" 30px
    "footer footer footer footer footer footer footer" 200px / 1fr 100px 40px auto 40px 120px 1fr;
}

*,::before,::after {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

ol,ul {
  list-style-type: none;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.header_menu-sp-nav {
  display: none;
}

.header_menu-sp div {
  width: 100%;
  height: 2px;
  background: #2a872a;
}

a {
  color: #202020;
  text-decoration: none;
  transition: .5s;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;

li {
    position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        height: 2px;
        width: 100%;
      }
      
       &:hover {
         &:after {
          background: #2a872a;
        }
      }
    } 
}

.sub-menu a:hover {
  color: #2a872a;
}

.top {
  color: #fff;
  text-align: center;
  background-image: url('https://www.rpc-ltd.co.jp/images/top/img_slide03.jpg');
  background-size: cover;
  padding: 3em;
  margin-top: 1em;
}

.top-text {
  font-size: 1.8em;
}

.top span[lang=en] {
  display: block;
  margin-bottom: 3%;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -.05em;
}

.sub-top {
  text-align: center;
  margin: 60px  0;
}

.business {
  margin-bottom: 30px;
  font-size: 1.5em;
}

.sub-top span[lang=en] {
  display: block;
  color: #2a872a;
  margin-bottom: 10px;
  font-size: 1.82em;
  font-weight: 600;
}

.card_list {
  display: flex;
  justify-content: space-evenly;
}

.card_item:hover {
  background: #e4f2e4;
}

.card_item-title {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 1em;
  text-align: center;
}

.card_item-title span {
  display: block;
  margin-top: 1em;
  color: #2a872a;
  font-size: 12px;
  fontweight: 400;
}

.btn {
  display: block;
  font-size: 1.5em;
  text-align: center;
  color: #2a872a;
  border: 2px solid #2a872a;
  padding: 1em;
  margin: 7em;
  line-height: 1;
}

.btn_arrow-icon {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: #2a872a;  
  transform: rotate(45deg);
  float: right;
  margin-top: 0.2em;
}

.btn:hover {
  background: #2a872a;
  color: #fff;
  border-color: #fff;
}

.btn:hover > .btn_arrow-icon{
  border-color: #fff;  
}

@media screen and (width < 641px) {
  .header_menu-sp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px;
  }
  
  .header_menu-sp:hover > .header_menu-sp-nav {
    position: absolute;
    top: 55px;
    left: 0;
    display: block;
    width: 100%;
    background-color: #2a872a;
    margin-top: 2em;
  }

  .sub-menu {
    padding: 0.7em;
  }
  
  .sub-menu a{
    color: #fff;
  }

  .arrow-icon {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #fff;  
    transform: rotate(45deg);
    margin-right: 0.5em;
  }

  .header_nav {
    display: none;
  }
  
  .card_list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .card-item_header, .card_item-title{
    margin: 2em;
  }

  .btn {
    padding: 1em;
    margin: 2em;
  }
}